{:lein         {:profile "+shadow-cljs"}
 :builds       {:app {:target     :browser
                      :output-dir "resources/public/js"
                      :asset-path "/js"
                      :modules    {:app {:init-fn certecomp.core/init!}}}}
 :dev-http     {3001 {:root    "resources/public"}}}
